extends ../common/seo_layout

block header
  +he('shichang')

//- 添加自定义样式
append css
  link(rel='stylesheet', href='/stylesheets/stock/seo_index.css')

block main_content
  .container.main-container
    //- 主体内容
    .seo-main-content
      //- 面包屑
      .qn-seo-breadcrumbs 当前位置：
        a(href='/') 首页
        i.fa.fa-angle-right
        a(href='/shichang') 市场
        i.fa.fa-angle-right
        if stockInfo.stk
          span #{stockInfo.stk.stkName}
        else
          span #{stockInfo[1]}

      //- 股票信息
      if stockInfo.stk
        .qn-section
          .qn-section-main
            dl.qn-seo-stock-info-box
              dt.stock-title #{stockInfo.stk.stkName}
                i (#{stockInfo.stk.assetId})
              dd.clearfix
                .stock-ipo-info
                  .stock-now-info.clearfix.up
                    h3 未上市

                  i.update-time 更新时间：#{moment(Number(stockInfo.ts)).format('YYYY年MM月DD日')}

                //- 发行详情
                table.stock-ipo-details
                  tbody
                    tr
                      td
                        i 申购代码：
                        | #{stockInfo.stk.applyCode}
                      td
                        i 发行量：
                        | #{stockInfo.stk.issueVol}万
                      td
                        i 中签率：
                        if stockInfo.stk.lotRate
                          | #{stockInfo.stk.lotRate}%
                        else
                          | -
                    tr
                      td
                        i 申购日期：
                        | #{stockInfo.stk.onlineDate}
                      td
                        i 申购上限：
                        | #{stockInfo.stk.applyMax}万
                      td
                        i 发行价：
                        | #{stockInfo.stk.issuePrice}
                    tr
                      td
                        i 中签公布日：
                        | #{stockInfo.stk.lotDate}
                      td
                        i 网上发行量：
                        | #{stockInfo.stk.onlineIssue}万
                      td
                        i 市盈率：
                        if stockInfo.stk.pe
                          | #{stockInfo.stk.pe}
                        else
                          | -
                    tr
                      td(colspan='3')
                        i 上市时间：
                        if stockInfo.stk.listDate
                          | #{stockInfo.stk.listDate}
                        else
                          | -

      else
        include seo_stock_info_main

        .qn-section
          .qn-section-main
            .qn-section-main-title-box
              h3.qn-section-title F10相关资料
              a.qn-section-more(href='/gupiao/#{stockInfo[0]}/GSZL', title='F10相关资料') 查看
                i.fa.fa-angle-right

      //- 股票相关信息
      .qn-section
        .qn-section-main
          .qn-tab-box.qn-seo-stock-relevant-info-box
            input#stock-news.qn-radio-btn(type='radio', name='stock_relevant', checked)
            label.qn-tab-label(for='stock-news') 新闻
            input#stock-notice.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-notice') 公告
            input#stock-question.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-question') 问答
            input#stock-viewpoint.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-viewpoint') 观点

            .qn-tab-innerbox
              //- 相关新闻
              ul.qn-tab-items.items-stock-news.seo-news-list-main#items-stock-news
                if stockNews.data.length > 0
                  each item in stockNews.data
                    include ../news/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('新闻')

              //- 相关公告
              ul.qn-tab-items.items-stock-notice.seo-news-list-main#items-stock-notice
                if stockNotice.length > 0
                  each item in stockNotice
                    include ../news/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('公告')

              //- 相关问答
              ul.qn-tab-items.items-stock-question.seo-questions-list-main#items-stock-question
                if stockQuestion.length > 0
                  each item in stockQuestion
                    include ../question/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('问答')

              //- 相关观点
              ul.qn-tab-items.items-stock-viewpoint.seo-viewpoint-list-main#items-stock-viewpoint
                if stockViewpoint.length > 0
                  each item in stockViewpoint
                    include ../viewpoint/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('观点')

    //- 侧边组件
    .seo-main-sidebar
      //- 擅长投顾
      include ../widgets/skilled_adviser

      if stockInfo.stk
        //- 热门股票
        include ../widgets/hot_stocks
      else
        //- 新股预告
        include ../widgets/new_stocks

      //- 券商开户
      include ../widgets/recommend_broker

      //- 二维码
      include ../widgets/qr_code

append foot_scripts
  script(data-main='/javascripts/stock/seo_info.js' src='/javascripts/lib/requirejs/require.js')
