extends ../common/seo_layout

block header
  +he('shichang')

//- 添加自定义样式
append css
  link(rel='stylesheet', href='/stylesheets/stock/seo_index.css')

block main_content
  .container.main-container
    //- 主体内容
    .seo-main-content
      //- 面包屑
      .qn-seo-breadcrumbs 当前位置：
        a(href='/') 首页
        i.fa.fa-angle-right
        a(href='/shichang') 市场
        i.fa.fa-angle-right
        if stockInfo.stk
          span #{stockInfo.stk.stkName}
        else
          span #{stockInfo[1]}

      //- 股票信息
      if stockInfo.stk
        .qn-section
          .qn-section-main
            dl.qn-seo-stock-info-box
              dt.stock-title #{stockInfo.stk.stkName}
                i (#{stockInfo.stk.assetId})
              dd.clearfix
                .stock-ipo-info
                  .stock-now-info.clearfix.up
                    h3 未上市

                  i.update-time 更新时间：#{moment(stockInfo.ts).format('YYYY年MM月DD日')}

                //- 发行详情
                table.stock-ipo-details
                  tbody
                    tr
                      td
                        i 申购代码：
                        | #{stockInfo.stk.applyCode}
                      td
                        i 发行量：
                        | #{stockInfo.stk.issueVol}万
                      td
                        i 中签率：
                        if stockInfo.stk.lotRate
                          | #{stockInfo.stk.lotRate}%
                        else
                          | -
                    tr
                      td
                        i 申购日期：
                        | #{stockInfo.stk.onlineDate}
                      td
                        i 申购上限：
                        | #{stockInfo.stk.applyMax}万
                      td
                        i 发行价：
                        | #{stockInfo.stk.issuePrice}
                    tr
                      td
                        i 中签公布日：
                        | #{stockInfo.stk.lotDate}
                      td
                        i 网上发行量：
                        | #{stockInfo.stk.onlineIssue}万
                      td
                        i 市盈率：
                        if stockInfo.stk.pe
                          | #{stockInfo.stk.pe}
                        else
                          | -
                    tr
                      td(colspan='3')
                        i 上市时间：
                        if stockInfo.stk.listDate
                          | #{stockInfo.stk.listDate}
                        else
                          | -

      else
        .qn-section
          .qn-section-main
            input.hidden#stock-id(value="#{stockInfo[0]}")
            dl.qn-seo-stock-info-box
              dt.stock-title #{stockInfo[1]}
                i (#{stockInfo[0]})
              dd.clearfix
                //- 分时信息
                .stock-time-info
                  if stockInfo[10] > 0
                    .stock-now-info.clearfix.up
                      +stockNowInfo(stockInfo, 'up')
                  else if stockInfo[10] < 0
                    .stock-now-info.clearfix.down
                      +stockNowInfo(stockInfo, 'down')
                  else
                    .stock-now-info.clearfix
                      +stockNowInfo(stockInfo)

                  ul.stock-estimate-info.clearfix
                    li 涨停：
                      i.qn-stock-price.up #{stockInfo[11]}
                    li 跌停：
                      i.qn-stock-price.down #{stockInfo[12]}

                  i.update-time 更新时间：#{moment(stockInfo[13]).format('YYYY年MM月DD日 HH:mm:ss')}

                //- 分时详情
                table.stock-time-details
                  tbody
                    tr
                      td
                        i 今&nbsp;&nbsp;&nbsp;&nbsp;开：
                        if stockInfo[5] > stockInfo[6]
                          i.qn-stock-price.up #{stockInfo[5]}
                        else if stockInfo[5] < stockInfo[6]
                          i.qn-stock-price.down #{stockInfo[5]}
                        else if stockInfo[5] == '0.00' || stockInfo[5] == 0
                          i.qn-stock-price #{stockInfo[5]}
                        else
                          i.qn-stock-price #{stockInfo[5]}
                      td
                        i 最&nbsp;&nbsp;&nbsp;&nbsp;高：
                        if stockInfo[3] > stockInfo[6]
                          i.qn-stock-price.up #{stockInfo[3]}
                        else if stockInfo[3] < stockInfo[6]
                          i.qn-stock-price.down #{stockInfo[3]}
                        else if stockInfo[3] == '0.00' || stockInfo[3] == 0
                          i.qn-stock-price #{stockInfo[3]}
                        else
                          i.qn-stock-price #{stockInfo[3]}
                      td
                        i 成交量：
                        | #{utils.formatNumVal(stockInfo[8], 3)}
                    tr
                      td
                        i 昨&nbsp;&nbsp;&nbsp;&nbsp;收：
                        | #{stockInfo[6]}
                      td
                        i 最&nbsp;&nbsp;&nbsp;&nbsp;低：
                        if stockInfo[4] > stockInfo[6]
                          i.qn-stock-price.up #{stockInfo[4]}
                        else if stockInfo[4] < stockInfo[6]
                          i.qn-stock-price.down #{stockInfo[4]}
                        else if stockInfo[4] == '0.00' || stockInfo[4] == 0
                          i.qn-stock-price #{stockInfo[4]}
                        else
                          i.qn-stock-price #{stockInfo[4]}
                      td
                        i 成交额：
                        | #{utils.formatNumVal(stockInfo[7], 3)}
                    tr
                      td
                        i 总市值：
                        | #{utils.formatNumVal(stockInfo[15], 3)}
                      td
                        i 市盈率：
                        | #{stockInfo[16]}
                      td
                        i 换手率：
                        | #{utils.formatNumVal(stockInfo[14], 2)}%
                    tr
                      td
                        i 流通市值：
                        | #{utils.formatNumVal(stockInfo[18], 3)}
                      td
                        i 市净率：
                        | #{stockInfo[17]}

      //- 股票相关信息
      .qn-section
        .qn-section-main
          .qn-tab-box.qn-seo-stock-relevant-info-box
            input#stock-news.qn-radio-btn(type='radio', name='stock_relevant', checked)
            label.qn-tab-label(for='stock-news') 新闻
            input#stock-notice.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-notice') 公告
            input#stock-question.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-question') 问答
            input#stock-viewpoint.qn-radio-btn(type='radio', name='stock_relevant')
            label.qn-tab-label(for='stock-viewpoint') 观点

            .qn-tab-innerbox
              //- 相关新闻
              ul.qn-tab-items.items-stock-news.seo-news-list-main#items-stock-news
                if stockNews.length > 0
                  each item in stockNews
                    include ../news/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('新闻')

              //- 相关公告
              ul.qn-tab-items.items-stock-notice.seo-news-list-main#items-stock-notice
                if stockNotice.length > 0
                  each item in stockNotice
                    include ../news/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('公告')

              //- 相关问答
              ul.qn-tab-items.items-stock-question.seo-questions-list-main#items-stock-question
                if stockQuestion.length > 0
                  each item in stockQuestion
                    include ../question/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('问答')

              //- 相关观点
              ul.qn-tab-items.items-stock-viewpoint.seo-viewpoint-list-main#items-stock-viewpoint
                if stockViewpoint.length > 0
                  each item in stockViewpoint
                    include ../viewpoint/seo_list_main
                  a.more-items(href="javascript:;")
                    span 显示更多&nbsp;
                    i.fa.fa-angle-double-down
                else
                  include ../common/seo_list_no_result
                  +listNoResult('观点')

    //- 侧边组件
    .seo-main-sidebar
      //- 擅长投顾
      include ../widgets/skilled_adviser

      if stockInfo.stk
        //- 热门股票
        include ../widgets/hot_stocks
      else
        //- 新股预告
        include ../widgets/new_stocks

      //- 券商开户
      include ../widgets/recommend_broker

      //- 二维码
      include ../widgets/qr_code

//- 股票分时信息
mixin stockNowInfo(stockInfo, change)
  - var c = stockInfo[9]
  - var cp = utils.formatNumVal(stockInfo[10], 2) + '%'

  - if(stockInfo[10] > 0) {
    - c = '+' + utils.formatNumVal(stockInfo[9], 1)
    - cp = '+' + utils.formatNumVal(stockInfo[10], 2) + '%'
  - } else {
    - c = utils.formatNumVal(stockInfo[9], 1)
  - }

  h3 #{stockInfo[2]}
    if change === 'up'
      i.fa.fa-arrow-up
    else if change === 'down'
      i.fa.fa-arrow-down
  ul
    li #{c}
    li #{cp}

append foot_scripts
  script(data-main='/javascripts/stock/seo_info.js' src='/javascripts/lib/requirejs/require.js')
