extends ../common/seo_layout

block header
  +he()

append css
  link(rel='stylesheet', href='/stylesheets/static/seo_index.css')

block main_content
  //- 全宽滑块
  .full-container
    .qn-slider.auto
      ul.qn-slides
        li.qn-slide.bg-dark(style='background-image: url("/images/banner/banner_jobs.jpg");')
          .container.clearfix(style='min-height: 340px;')

  .container.main-container
    .qn-section-static.clearfix
      ul.qn-job-list.clearfix

        - var jobs = { 'jrcp' : '金融产品经理', 'cpyy' : '产品运营岗', 'zskf' : '资深客服', 'web' : 'Web 前端工程师', 'ui' : '高级UI设计师', 'gjtz' : '高级拓展经理' }
        each name, id in jobs
          li
            a.qn-post-title-link(href="javascript:;", data-id="#"+id) #{name}

      mixin job(obj)
        .qn-job-block(id=obj.id)
          h1
            span(class=obj.class)=obj.name
          .qn-job-detail
            h3 岗位描述：
            ol
              each item in obj.description
                li=item
            h3 岗位要求：
            ol
              each item in obj.require
                li=item
            address 简历发送至：
              span hr@yiqiniu.com



      .qn-job-row
        +job({
        name:'金融产品经理',
        id:'jrcp',
        class:'info',
        description:
          ['负责移动客户端产品的规划与设计；', '负责产品调研、分析及设计，结合用户需求提出产品优化及创新需求；', '与开发、设计等团队配合，跟进产品开发、测试、上线及数据收集分析；' , '对产品不断的更新迭代，优化产品功能和用户体验；', '与研发、市场、客服团队紧密配合，完成产品推广与运营工作。'],
        require:
          ['2年以上工作经验，重点院校理工类毕业生优先考虑；', '具备2年以上互联网产品设计经验，对产品体验有深刻见解，有强烈用户导向思维、商业敏感度和创新意识；', '喜欢产品交互设计，原型设计能力强，喜欢研究最新的互联网产品；', '擅长把握与理解用户的需求，对数据敏感，有较强的数据和用户行为分析能力；', '熟悉移动端产品的特性，有IM、SNS、手游等移动产品设计与运营经验优先；', '工作积极主动，责任心强，善于沟通和团队协作。']})

        +job({
        name:'产品运营岗',
        id:'cpyy',
        class:'success',
        description:
          ['密切跟踪资本市场各类最新信息，了解每日重大热点事件、研读上市公司研究报告、新闻公告等相关资讯信息；', '依据数据规划要求，负责对各类金融相关数据进行挖掘、收集、整理、分类、加工与审核；', '能具备主动挖掘上市公司或市场热点的能力，监控好各大论坛财经网站相关频道栏目；', '负责对产品关键运营数据指标进行分析，并通过数据分析及时调整、改进运营策略，为提升产品用户体验提供数据支持，协助产品经理完善产品功能的优化。'],
        require:
          ['本科及以上学历，财经、金融类相关专业优先考虑；','对基金、证券投资有兴趣，证券、基金等领域相关工作经验者优先考虑；', '熟悉产业政策及行业发展情况。熟悉上市公司，具备良好的财务分析能力；', '掌握证券投资技术分析和基本分析理论，对证券投资分析有独到见解；', '具有敏锐的市场洞察力和信息编辑能力，文笔流畅；', '抗压力强，能适应高强度工作。']})



      .qn-job-row
        +job({
          name:'资深客服',
          id:'zskf',
          class:'warning',
          description:['分析用户行为，收集用户反馈需求，协助产品经理完成产品功能的优化，提升客户的参与感与满意度；', '通过在线方式对客户进行服务和回访（根据产品或运营需求进行回访，整理回访资料和数据）；', '汇总分析各项运营数据，对产品改进提供数据支持，持续提升产品体验；', '负责整理与更新产品的各类业务规则、操作手册、FAQ等帮助文档等。'],
          require:
            ['本科及以上学历，英语，金融、经济、财会专业的优秀人才优先；', '2年以上移动互联网产品运营经验，曾参与过产品设计、研发、推广及改进过程。', '有较强的学习能力，热爱互联网与金融；', '有耐心，善于倾听、理解、有一定的服务意识 ；', '有良好的口头沟通能力与书面表达能力。']
        })

        +job({
          name:'Web前端工程师',
          id:'web',
          class:'danger',
          description:['与设计师、产品工程师紧密工作在一起，负责产出高质量的产品前端层；', '负责公司产品Web前端的系统设计与开发；', '了解基本的设计模式,有良好的错误处理,测试,性能监控习惯；', '能充分理解项目需求和设计需求，具有一定研发精神，能解决各种未知问题。'],
          require:['本科以上学历，计算机或相关专业，2年以上Web前端开发工作经验；', '熟练运用Web前端技术，包括XHTML/XML/CSS JavaScript/jQuery/Ajax等；', '熟练掌握HTML5/CSS3移动端网页开发技术；', '对浏览器兼容性、前端安全防范、响应式布局有实践经验；', '有证券交易或行情类软件前端研发经验者优先。']
        })



      .qn-job-row
        +job({
          name:'高级UI设计师',
          id:'ui',
          class:'info',
          description:['参与产品规划构思和创意过程，或产品前期界面视觉用户研究、设计流行趋势分析；', '分析业务需求，并加以分解归纳出产品人机交互界面体验设计需求；', '主要负责公司桌面端或移动端平台产品的UI界面设计；', '分享设计经验、推动提高团队的设计能力。'],
          require:[' 美术、设计或相关专业本科以上学历（优秀人才，专业和学历可适当放宽）；', '2年以上用户界面视觉相关工作经验；', '有良好的手绘能力和草图表现能力，良好的美术功底和设计表现力；', '了解时下流行操作系统的用户使用习惯，重视用户体验；', '了解iOS、Android、Windows、Apple平台的界面设计规范；', '精通Photoshop、Illustrator等常用设计软件，具有巧妙的设计创意、良好的色彩运用能力，注重细节，对移动产品的整体风格、视觉流程、操作流程有细致到位的设计能力；', '良好的沟通协调能力以及团队合作精神，能按时、高质量地完成工作任务。']
        })

        +job({
          name:'高级拓展经理',
          id:'gjtz',
          class:'success',
          description:['整合资源开展对外商务合作；', '负责与公司合作伙伴洽谈合作项目', '了解互联网金融行业，结合市场特点和公司战略，制定有竞争力的拓展计划，达成拓展目标；', '挖掘并分析行业的现状及需求；', '充分和产品、运营团队沟通与协作，结合市场反馈及竞争对手情况，持续提出产品及政策优化建议。'],
          require:['正规统招学校本科及以上学历；', '2年以上工作经验；', '熟悉金融行业或市场，清晰了解其业态；', '熟悉金融/互联网等相关产品，有券商经纪业务经验或市场拓展经验者优先；', '乐观积极，沟通能力强，能够承受一定的工作压力；', '具备一定的市场敏锐度；', '能适应不定期出差。']
        })




      .qn-job-row.team
        h1 齐牛人的精彩生活等着你一起分享
        img(src="/images/portal/team.jpg", alt="齐牛人的精彩生活")
        img(src="/images/portal/address.jpg", alt="齐牛人的精彩生活")

append foot_scripts
  script(data-main='/javascripts/static/static.js' src='/javascripts/lib/requirejs/require.js')
