extends ../common/seo_layout

block header
  +he()

append css
  link(rel='stylesheet', href='/stylesheets/news/seo_index.css')

block main_content
  .container.main-container
    .seo-main-content
      .qn-seo-breadcrumbs 当前位置：
        a(href='/') 首页
        i.fa.fa-angle-right
        a(href='/xinwen') 热点新闻
        i.fa.fa-angle-right
        span #{newsMain.data.title}
      .qn-section
        .qn-section-main
          .qn-article
            h1.qn-article-title #{newsMain.data.title}
            .qn-meta-panel
              .qn-meta-createTs 发布时间: #{moment(Number(newsMain.data.date)).format('YYYY-MM-DD HH:mm:ss')}
              .qn-meta-reference #{newsMain.data.media}
              if newsMain.data.stks && newsMain.data.stks.length > 0
                .qn-meta-stocks 相关股票：
                  each item in newsMain.data.stks
                    a(href='/gupiao/#{item.assetId}', title=item.stkName) #{item.stkName}
            .qn-article-content.noIndent !{newsMain.data.content}

            .qn-article-share.clearfix
              i 分享到：
              .bdsharebuttonbox.clearfix
                a.bds_tsina(href='javascript:', data-cmd='tsina', title='分享到新浪微博')
                a.bds_weixin(href='javascript:', data-cmd='weixin', title='分享到微信')
                a.bds_qzone(href='javascript:', data-cmd='qzone', title='分享到QQ空间')
                a.bds_more(href='javascript:' data-cmd='more')

      if newsMain.data.previous || newsMain.data.next
        .qn-section
          .qn-section-main
            ul.news-adjacent-pages
              if newsMain.data.previous
                li 上一篇
                  a(href='/xinwen/#{newsMain.newsType}/#{newsMain.data.previous.newsId}', title=newsMain.data.previous.title) #{newsMain.data.previous.title}

              if newsMain.data.next
                li 下一篇
                    a(href='/xinwen/#{newsMain.newsType}/#{newsMain.data.next.newsId}', title=newsMain.data.next.title) #{newsMain.data.next.title}

    .seo-main-sidebar
      //- 精选观点
      include ../widgets/viewpoint

      //- 最新问答
      include ../widgets/questions

      //- 新股预告
      include ../widgets/new_stocks

      //- 券商开户
      include ../widgets/recommend_broker

      //- 二维码
      include ../widgets/qr_code

append foot_scripts
  script(data-main='/javascripts/custom.js' src='/javascripts/lib/requirejs/require.js')
