extends ../common/seo_layout

block header
  +he()

append css
  link(rel='stylesheet', href='/stylesheets/broker/seo_index.css')

block main_content
  .container.main-container
    .seo-main-content
      .qn-seo-breadcrumbs 当前位置：
        a(href='/') 首页
        i.fa.fa-angle-right
        span 证券开户
      .qn-section
        .qn-section-main
          .qn-section-content

            //- 筛选部分
            .selector
              input#cur-area(type='hidden', value=tag.area)
              input#cur-broker(type='hidden', value=tag.broker)

              //- 区域筛选部分
              .selector-line#area-line
                h3.qn-section-title 区域
                a.option-all(href="javascript:;", data-id=0, class={active: tag.area == 0}) 全部
                ul#brokerArea.clearfix(class={closed: brokerInfo && brokerInfo.areas && brokerInfo.areas.length > 40 })
                  if brokerInfo && brokerInfo.areas
                    - for(var i = 0; i < brokerInfo.areas.length; i++) {
                        if i < 10
                          if brokerInfo.areas[i].areaId == tag.area
                            li(class="hot active")
                              a(href="javascript:", data-id="#{brokerInfo.areas[i].areaId}") #{brokerInfo.areas[i].areaName}
                          else
                            li(class="hot")
                              a(href="javascript:", data-id="#{brokerInfo.areas[i].areaId}") #{brokerInfo.areas[i].areaName}
                        else
                          li(class={active: brokerInfo.areas[i].areaId == tag.area})
                            a(href="javascript:", data-id="#{brokerInfo.areas[i].areaId}") #{brokerInfo.areas[i].areaName}
                    - }
                if brokerInfo && brokerInfo.areas && brokerInfo.areas.length > 52
                  span(data-id="brokerArea", data-opened="false").option-expand 展开&nbsp;
                    i.fa.fa-chevron-down

              //- 券商筛选部分
              .selector-line#broker-line.clearfix
                h3.qn-section-title 券商
                a.option-all(href="javascript:;", data-id=0, class={active: tag.broker == 0}) 全部
                ul#brokerName.clearfix(class={closed: brokerInfo && brokerInfo.brokers && brokerInfo.brokers.length > 24 })
                  if brokerInfo && brokerInfo.brokers
                    each b in brokerInfo.brokers
                      li(class={active: b.brokerId == tag.broker})
                        a(href="javascript:;", data-id="#{b.brokerId}") #{b.brokerName}
                if brokerInfo && brokerInfo.brokers && brokerInfo.brokers.length > 24
                  span(href="javascript:;", data-id="brokerName", data-opened="false").option-expand 展开&nbsp;
                    i.fa.fa-chevron-down

            //- 券商列表
            ul.broker-list
              if brokerInfo && brokerInfo.busDepts
                if brokerInfo.busDepts.length > 0
                  each i in brokerInfo.busDepts
                    li.broker-item.clearfix
                      .item-left
                        a.broker-img(href="/quanshang/#{i.areaId}/#{i.brokerId}/#{i.busDeptId}")
                          img(src="#{i.companyLogo}", alt="#{i.fullName}")
                        a.broker-info(href="/quanshang/#{i.areaId}/#{i.brokerId}/#{i.busDeptId}") #{i.brokerType}开户
                      .item-right
                        ul
                          li
                            h5 名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：
                            p #{i.fullName}
                          li
                            h5 券商类型：
                            p #{i.brokerType}
                          li
                            h5 开户地区：
                            p #{i.openAccArea}
                          li
                            h5 业务范围：
                            p #{i.busSphere}
                          li
                            h5 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                            p.bus-address #{i.busAddress}
                else
                  p 没有更多数据

            //- 分页
            - var currPage = brokerInfo.page.currPage
            - var totalPage = brokerInfo.page.totalPage
            - var pageLink = '/quanshang/' + tag.area + '/' + tag.broker+'?page='
            include ../common/pagination
            +page(totalPage, currPage, pageLink)

      //- 热门开户城市
      .qn-section
        h3.qn-section-title 热门开户城市
        .qn-section-main
          ul.hot-broker-area-list
            li
              a(href='/quanshang/31/0', title='深圳证券开户') 深圳证券开户
            li
              a(href='/quanshang/2/0', title='上海证券开户') 上海证券开户
            li
              a(href='/quanshang/30/0', title='广州证券开户') 广州证券开户
            li
              a(href='/quanshang/1/0', title='北京证券开户') 北京证券开户
            li
              a(href='/quanshang/171/0', title='南京证券开户') 南京证券开户
            li
              a(href='/quanshang/3/0', title='天津证券开户') 天津证券开户
            li
              a(href='/quanshang/418/0', title='重庆证券开户') 重庆证券开户
            li
              a(href='/quanshang/359/0', title='郑州证券开户') 郑州证券开户
            li
              a(href='/quanshang/159/0', title='武汉证券开户') 武汉证券开户
            li
              a(href='/quanshang/119/0', title='杭州证券开户') 杭州证券开户
            li
              a(href='/quanshang/288/0', title='成都证券开户') 成都证券开户
            li
              a(href='/quanshang/241/0', title='长沙证券开户') 长沙证券开户
            li
              a(href='/quanshang/310/0', title='福州证券开户') 福州证券开户
            li
              a(href='/quanshang/311/0', title='厦门证券开户') 厦门证券开户
            li
              a(href='/quanshang/46/0', title='东莞证券开户') 东莞证券开户

    .seo-main-sidebar

      //- 新股预告
      include ../widgets/new_stocks

      //- 二维码
      include ../widgets/qr_code

append foot_scripts
  script(data-main='/javascripts/broker/seo_list.js' src='/javascripts/lib/requirejs/require.js')